<div class="container-fluid d-flex justify-content-between game-home">
        <div class="card gamecard">
            <div id="game-title">
                <h1>{{game.name}}</h1>
            </div>
            <img id="gamepage" src="{{game.background_image}}" class="card-img-top" alt="Game image">
        </div>
        <div class="container-fluid">
            <div id="about-section">
                 <p>Rating: {{game.rating}}.</p>
                 <p>Released: {{game.released}}.</p>
                 <p>description: {{gameDetails.description_raw}}.</p>
             </div>
        </div>
    </div>