
    <p id="pop">RANDOM GAMES</p>
    <div class="container-fluid text-center popular">
      <div class="row">
        <div class="row">
        {{#each games as |game|}}
          <div class="card">
            <img
              src="{{game.background_image}}"
              class="card-img-top image"
              alt="placeholder"
            />
            <div class="card-body">
              <h5 class="card-title">{{game.name}}</h5>
              <div class="card-text">
                <p>{{game.platform}}</p>
                <p>{{game.release_date}}</p>
                <p>{{game.rating}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>







