 <link rel="stylesheet" href="/css/loggedin.css"/>
 <h1 id="fav-heading">FAVORITES</h1>
    <div>
      <div class="popular" style="display: flex;">
        {{#each games as |game|}}
        <div class="d-flex row">
          <div class="card">
            <img
              src="{{game.background_image}}"
              class="card-img-top"
              alt="placeholder"
            />
            <div class="card-body">
              <h5 class="card-title">{{game.gameName}}</h5>
              <p class="card-text">
                <p>Release Date: {{game.release_date}}</p>
                <p>Rating: {{game.rating}}</p>
                <p>Description: {{game.description}}</p>
              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>

  
